*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

header{
    
    padding:25px;
    text-align: center;
}
header>*{
    font-weight: 700;
    font-size: 1.5em;
    color: rgb(77, 119, 233);
    text-decoration: none;
    
}
.home-button{
    text-decoration: none;
}
